In [1]:
def addnum(x,y):
    return x+y

print(addnum(50,49))

99

In [2]:
def addthree(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
print("Hello, here is your answer:")
print(addthree(3,4))

Hello, here is your answer:
7

In [3]:
print(addthree(3,6,28))

37

In [5]:
x=(1,'a','v',2)
y=[1,4,'d',2]
type(x)

tuple

In [6]:
type(y)

list

In [7]:
for item in x:
    print(item)

1
a
v
2

In [8]:
y.append('t')
for item in y:
    print(item)

1
4
d
2
t

In [9]:
MyString="My name is Nish"
print(MyString[:5])

My na

In [11]:
print(MyString[-1])

h

In [14]:
print(MyString[-4:])

Nish

In [15]:
MyDict={"apple":"red","banana":"yellow","carrot":"orange"}
MyDict["apple"]

'red'

In [17]:
for fruit,color in MyDict.items():
    print(fruit)
    print(color)

apple
red
banana
yellow
carrot
orange

In [21]:
sentence="The {} is {} in colour"
print(sentence.format(MyDict["apple"],MyDict["banana"]))

The red is yellow in colour

In [30]:
import pandas as pd
import numpy as np
import os 
print(os.getcwd())

C:\Users\Nishtha\Desktop

In [38]:
autos = pd.read_csv (r"Nishtha's files\Microsoft Data Science Essentials\Mod5\autos.csv")
autos.head()

,symboling,normalized-losses,make-id,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,1,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,1,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,1,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,2,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,2,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [39]:
len(autos)

216

In [48]:
String1="Computer"
String2="Motivation"
ResultString=""
for char in String2:
    for char2 in String1:
        if(char.lower()==char2.lower()):
            ResultString+=char
            break
print(ResultString)

Motto

In [49]:
autos.columns

Index(['symboling', 'normalized-losses', 'make-id', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [50]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 26 columns):
symboling            216 non-null int64
normalized-losses    175 non-null float64
make-id              216 non-null int64
fuel-type            216 non-null object
aspiration           216 non-null object
num-of-doors         214 non-null object
body-style           216 non-null object
drive-wheels         216 non-null object
engine-location      216 non-null object
wheel-base           216 non-null float64
length               216 non-null float64
width                216 non-null float64
height               216 non-null float64
curb-weight          216 non-null int64
engine-type          216 non-null object
num-of-cylinders     216 non-null object
engine-size          216 non-null int64
fuel-system          216 non-null object
bore                 212 non-null float64
stroke               212 non-null float64
compression-ratio    216 non-null float64
horsepower           214 non-null float64
peak-rpm             214 non-null float64
city-mpg             216 non-null int64
highway-mpg          216 non-null int64
price                212 non-null float64
dtypes: float64(11), int64(6), object(9)
memory usage: 44.0+ KB

In [55]:
autos["price"].describe()

count      212.00000
mean     13459.09434
std       7845.35856
min       5118.00000
25%       7871.00000
50%      10921.50000
75%      16646.25000
max      45400.00000
Name: price, dtype: float64

In [ ]:
autos[]